/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/11/2016, 04:28:10 PM
    Author     : Edgar Mosquera
*/

input.boxInput, .ui-calendar.boxInput input {
    padding: 20px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300!important;
    font-family: 'Heebo', sans-serif;  
}

input.boxInput.ui-state-error {
    border: 1px solid #D87070;
}

label.boxInput {
    position: absolute;
    background: #ffffff;
    margin-left: 13px;
    padding: 0 7px;
    font-size: 14px;
    font-weight: 400!important;
    font-family: 'Dosis', sans-serif;
    color: grey;
    z-index: 999;
}

textArea.boxInput {
    padding: 20px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300!important;
    font-family: 'Heebo', sans-serif;  
}

textArea.boxInput.ui-state-error {
    border: 1px solid #D87070;
}

.ui-autocomplete.boxInput {
    border: 1px solid rgb(169, 169, 169);
    margin-top: 10px;    
    padding: 20px;
    max-height: 200px;
    overflow-y: auto;
    width: 400px;
}

.ui-autocomplete.boxInput .ui-autocomplete-token {
    width: 100%;
    font-size: 20px;
    font-weight: 300!important;
    font-family: 'Heebo', sans-serif;
}

.ui-autocomplete.boxInput .ui-autocomplete-token:hover {
    font-weight: 400!important;
}

.ui-autocomplete.boxInput .ui-autocomplete-token-icon {
    background-image: url(#{resource["images:delete.png"]});  
    width: 25px;
    height: 20px;    
    opacity: 0.8;
}

.ui-autocomplete.boxInput .ui-autocomplete-input-token {
    width: 100%;
}

.ui-autocomplete.boxInput .ui-autocomplete-input-token input {
    font-size: 20px;
    font-weight: 300!important;
    font-family: 'Heebo', sans-serif;
    width: 100%!important;
}

.ui-autocomplete.boxInput input {
    font-size: 20px;
    font-weight: 300!important;
    font-family: 'Heebo', sans-serif;
    width: 95%!important;
    border: none;
}

.ui-autocomplete-items {
    background: #ffffff;
    font-family: 'Dosis', sans-serif;
    font-size: 18px!important;
    font-weight: 300;
}

.ui-button.boxInput {
    border: 1px solid #DAD8D8;
    font-size: 20px;
    font-weight: 400!important;
    font-family: 'Dosis', sans-serif;    
    background: #F0F1F3;
    margin: 10px 10px 10px 0;
}

.ui-button.boxInput:hover {
    font-weight: 600!important;
}

.succesText {
    color: #438B50;
}

.infoText {
    color: #43528B;
}

.errorText {
    color: #8B4743;
}

.ui-datalist.boxInput {
    border: 1px solid rgb(169, 169, 169);
    margin-top: 10px;    
    padding: 20px;
}

.ui-datalist.boxInput .ui-datalist-data {
    padding: 0;
    margin: 0;
}

.ui-datalist.boxInput .ui-datalist-item {
    list-style-type: none;
    background-image: url(#{resource["images:edit16.png"]});        
    background-repeat: no-repeat;
    padding: 0 0 0 15px;
    background-repeat: no-repeat;
    background-position: left center;
}

.ui-datalist.boxInput .ui-datalist-item a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 300!important;
    font-family: 'Heebo', sans-serif;
    color: #2D2DA9;
    margin-left: 5px;
}

.ui-datalist.boxInput .ui-datalist-item a:hover {
    font-weight: 400!important;
    cursor: pointer;
}

.ui-datalist.boxInput .ui-datalist-item a:focus {
    font-weight: 400!important;
    outline: none!important;
}

.ui-datalist.boxInput .ui-datalist-item table {
    display: inline-table;
    width: 100%;
}

.ui-datalist.boxInput .ui-datalist-empty-message {
    font-size: 18px;
    font-weight: 300!important;
    font-family: 'Heebo', sans-serif;
}

.ui-widget-overlay {
    background-color: rgba(0,0,0,0.5);
}


.ui-confirm-dialog.boxInput {
    background-color: #ffffff;
    font-size: 18px;
    font-weight: 300!important;
    font-family: 'Heebo', sans-serif;
}

.ui-confirm-dialog.boxInput .ui-dialog-buttonpane {
    text-align: center!important;
}

.ui-confirm-dialog.boxInput .ui-dialog-titlebar {
    background: #3D3D3D;
}

.ui-confirm-dialog.boxInput .ui-dialog-titlebar .ui-dialog-title {
    color: #f0f1f3;
    font-weight: 400;
    font-size: 20px;
}

.ui-confirm-dialog.boxInput .ui-button-icon-left {
    width: 20px;
    height: 20px;
}

.check {
    background-image: url(#{resource["images:check.png"]});
}

.cancel {
    background-image: url(#{resource["images:cancel.png"]});
}

.ui-messages.boxInput {
    font-size: 24px;    
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

.ui-messages.boxInput .ui-messages-info {
    color: #FFFFFF;
    background-color: #92CE9A;
    border-color: #8DC3A8;    
}

.ui-messages.boxInput .ui-messages-info-icon {
    display: none;
}

.ui-messages.boxInput .ui-messages-fatal {
    color: #FFFFFF;
    background-color: #DA8282;
    border-color: #D67878; 
}

.ui-messages.boxInput .ui-messages-fatal-icon {
    display: none;
}

.ui-message.ui-message-error.boxInput {
    color: #b94a48;
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-weight: 400!important;
    font-family: 'Dosis', sans-serif;
    margin: 0 0 15px;
    padding: 0;
}

.ui-message.ui-message-error.boxInput .ui-message-error-icon {
    display: none;
}

.ui-message.ui-message-error.boxInput .ui-message-error-detail {
    margin-left: 0;
}

.ui-selectonemenu.boxInput {
    border: 1px solid rgb(169, 169, 169);
    margin: 10px 0 10px 0;    
    padding: 20px 80px 20px 20px;    
}

.ui-selectonemenu.boxInput.ui-state-error {
    border: 1px solid #D87070;
}

.ui-selectonemenu.boxInput .ui-selectonemenu-label {
    font-size: 20px;
    font-weight: 300!important;
    font-family: 'Heebo', sans-serif;
    padding: 6px 20px;
}

.ui-selectonemenu.boxInput .ui-selectonemenu-trigger {
    border-left: 1px solid rgb(169, 169, 169);
    background-image: url(#{resource["images:down_arrow16.png"]});
    background-repeat: no-repeat;
    background-position: center;
}

.ui-selectonemenu.boxInput .ui-icon {
    display: none;
}

.ui-selectonemenu-items {
    background: #ffffff;
    font-family: 'Dosis', sans-serif;
    font-size: 18px!important;
}

.ui-selectonemenu-items .ui-selectonemenu-item {
    font-weight: 300!important;
}

.ui-selectonemenu-panel {
    background: #ffffff;
}

.ui-datatable.boxInput {
    font-size: 18px;
    font-weight: 300!important;
    font-family: 'Heebo', sans-serif;
    color: #2D2DA9;
    border: 1px solid rgb(169, 169, 169);
    margin-top: 10px;    
    padding: 20px;
}

.ui-datatable.boxInput thead th {
    font-size: 16px;
    border: 0;
    color: #565656;
    font-weight: 400!important;
    text-align: left;
}

.ui-datatable.boxInput a {
    text-decoration: none;   
    color: #2D2DA9;
}

.ui-datatable.boxInput a:hover {
    cursor: pointer!important;
}

.ui-datatable.boxInput a:focus {
    outline: none;
}

.ui-datatable.boxInput tr:hover {
    font-weight: 400!important;
}

.ui-datatable.boxInput thead th .ui-column-filter {
    margin: 0;
    width: 75%;
    font-family: 'Dosis', sans-serif;
    font-size: 18px!important;
    border: 1px solid #d4d4d4;
    background-image: url(#{resource["images:search16.png"]});
    background-repeat: no-repeat;
    padding-left: 25px;
    background-position: left center;
    background-position-x: 5px;
}

.ui-accordion.boxInput {
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
    color: #565656;
}

.ui-accordion.boxInput .ui-accordion-header {
    font-weight: 400;
}

.ui-accordion.boxInput .ui-icon {
    width: 16px;
    height: 16px;
    background-position: left center;
}

.ui-accordion.boxInput .ui-icon.ui-icon-triangle-1-e {
    background-image: url(#{resource["images:down_arrow16.png"]});    
}

.ui-accordion.boxInput .ui-icon.ui-icon-triangle-1-s {
    background-image: url(#{resource["images:up_arrow16.png"]});    
}

.ui-accordion.boxInput .ui-accordion-header.ui-tabs-outline {
    outline: none!important;
}

.ui-accordion.boxInput .ui-accordion-header.ui-state-active {
    background-color: #F0F1F3;
}

.ui-selectbooleanbutton.boxInput {
    border: 1px solid rgb(169, 169, 169);
    margin-top: 10px;
    padding: 20px;
    min-width: 120px;
    min-height: 37px;
    font-size: 20px;
    font-weight: 300!important;
    font-family: 'Heebo', sans-serif;
}

.ui-selectbooleanbutton.ui-button.boxInput {
    background: #ffffff;
}

.ui-selectbooleanbutton.ui-button.boxInput .ui-button-text {
    border: 1px solid #e8bfbf;
    border-radius: 5px;
    background: #f3e0e0;
    color: #922020;
}

.ui-selectbooleanbutton.ui-button.boxInput.ui-state-active .ui-button-text {
    border: 1px solid #bfe8c4;
    border-radius: 5px;
    background: #e0f3e6;
    color: #125218;
}

.ui-selectbooleanbutton.lockElement {    
    margin-top: 10px;
    min-width: 32px;
    min-height: 32px;
    width: 32px;
    height: 32px;        
    margin-left: 20px;
    width: auto;
}

.ui-selectbooleanbutton.lockElement .ui-button-text {
    font-size: 20px;
    font-weight: 300!important;
    font-family: 'Heebo', sans-serif;
    margin-left: 10px;
    opacity: 0.7;
    text-align: left;
}

.lockelement-open {    
    background-image: url(#{resource["images:unlock.png"]});     
    width: 100%;
    height: 100%;
    margin-top: 0px!important;
    top: 0%!important;
    opacity: 0.4;
}

.lockelement-close {    
    background-image: url(#{resource["images:lock.png"]});
    width: 100%;
    height: 100%;
    margin-top: 0px!important;
    top: 0%!important;
    opacity: 0.4;
}

.ui-selectmanymenu.boxInput {    
    border: 1px solid rgb(169, 169, 169);
    margin-top: 10px;    
    padding: 20px;
    font-size: 18px;    
    font-family: 'Heebo', sans-serif;
}

.ui-selectmanymenu.boxInput .ui-selectlistbox-item {
    text-align: center;
    border: 1px solid;
    border-color: #ffffff;
}

.ui-selectmanymenu.boxInput .ui-selectlistbox-item .ui-outputlabel {
    font-weight: 300;
}

.ui-selectmanymenu.boxInput .ui-selectlistbox-item.ui-state-highlight {
    background: #58a0e0;
    color: #ffffff;
    
}

.ui-selectmanymenu.boxInput .ui-selectlistbox-listcontainer {
    padding: 0 10px;
    height: auto!important;
}

.ui-selectmanymenu.boxInput .ui-selectlistbox-item .ui-chkbox-box {
    border: 1px solid;
    border-radius: 0;
    vertical-align: middle;
}

.ui-selectmanymenu.boxInput .ui-selectlistbox-item .ui-chkbox-box .ui-chkbox-icon.ui-icon-check {
    background: #ffffff;
    width: 50%;
    height: 50%;
    margin: auto;    
    margin-top: 4px;
    margin-left: 4px;
}

.displayInLine {
    display: inline-block;
    margin-right: 20px!important;
}

.ui-selectmanycheckbox.boxInput {
    border: 1px solid rgb(169, 169, 169);
    margin-top: 10px;    
    padding: 20px;
    font-size: 18px;    
    font-family: 'Heebo', sans-serif;
}
    
.ui-selectmanycheckbox.boxInput .ui-chkbox-box {
    border: 1px solid;
    border-radius: 0;
    vertical-align: middle;
}

.ui-selectmanycheckbox.boxInput .ui-chkbox-box.ui-state-active {
    border-color: #58a0e0;
}

.ui-selectmanycheckbox.boxInput .ui-chkbox-box .ui-chkbox-icon.ui-icon-check {
    background: #58a0e0;
    width: 50%;
    height: 50%;
    margin: auto;    
    margin-top: 4px;
    margin-left: 4px;
}

.ui-selectmanycheckbox.boxInput label {
    font-weight: 300;
}

.ui-selectmanycheckbox.boxInput.smallFont label {
    font-size: 16px;
}

.genRed {
    background-color: #fdb6b6;
    color: #691c1c;
}

.genBlue {
    background-color: #71a5e6;
    color: #082954;
}

.genWhite {
    background-color: #ffffff;
    color: #000000;
}

.genCyan {
    background-color: #d2f9f9;
    color: #134656;
}

.genSilver {
    background-color: #e8e8e8;
    color: #2d2d2d;
}

.genGray {
    background-color: #b9b9b9;
    color: #000000;
}

.genDarkBlue {
    background-color: #557c9e;   
    color: #f2f9ff;
}

.genBlack {
    background-color: #000000;
    color: #ffffff;
}

.genLightBlue {
    background-color: #add8e6;
    color: #093a65;
}

.genOrange {
    background-color: #fbd99b;
    color: #442f0a;
}

.genPurple {
    background-color: #d7bfe6;
    color: #420742;
}

.genBrown {
    background-color: #eaa893;
    color: #541515;
}

.genYellow {
    background-color: #ffffe6;
    color: #4c5200;
}

.genMaroon {
    background-color: #bb9a77;
    color: #462506;
}

.genLime {
    background-color: #bff3bf;
    color: #044804;
}

.genGreen {
    background-color: #8ab386;
    color: #163516;
}

.genMagenta {
    background-color: #f3caf3;
    color: #6b076b;
}

.genOlive {
    background-color: #b3b37f;
    color: #2f2f02;
}

.ui-datepicker {
    background: #F0F1F3;
    border: 1px solid rgb(169, 169, 169);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    border-top: none;
}

.ui-datepicker-title {
    font-family: 'Heebo', sans-serif;
    color: #43528B;
    font-size: 18px;
}

.ui-datepicker-calendar thead th {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    font-weight: 400!important;
}

.ui-datepicker-calendar tbody td {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
}

.ui-datepicker-calendar tbody td a {
    text-align: center!important;
    color: #303d82;
}

.ui-datepicker-calendar tbody .ui-datepicker-today {
    background: #fff;
    border-radius: 20%;
}

.ui-datepicker-calendar tbody td:hover {
    background: #e2e2e2;
    border-radius: 20%;
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-next {
    background-image: url(#{resource["images:calendar-right-arrow.png"]});
    opacity: 0.6;
}

.ui-datepicker .ui-datepicker-prev {
    background-image: url(#{resource["images:calendar-left-arrow.png"]});
    opacity: 0.6;
}

.ui-datepicker .ui-datepicker-prev,.ui-datepicker-prev-hover{
    cursor: pointer;
    left: 2px!important;
    top: 2px!important;
}

.ui-datepicker .ui-datepicker-next,.ui-datepicker-next-hover{
    cursor: pointer;
    right: 2px!important;
    top: 2px!important;
}

.ui-panel.boxInput {
    border: 1px solid rgb(169, 169, 169);
    margin-top: 10px;    
    padding: 20px;
    margin-bottom: 20px;
}

.ui-panel.boxInput .ui-panel-titlebar {
    position: absolute;
    margin-top: -30px;
    font-size: 14px;
    font-weight: 400!important;
    font-family: 'Dosis', sans-serif;
    color: grey;
    z-index: 999;
    background: #ffffff;
    padding: 0 7px;
}

.ui-panel.boxInput .ui-panel-titlebar .ui-panel-title {
    margin: 0;
}

.ui-commandlink:focus {
    outline: none;
}

.ui-datagrid.boxInput {
    font-size: 18px;
    font-weight: 300!important;
    font-family: 'Heebo', sans-serif;
    color: #2D2DA9;
    border: 1px solid rgb(169, 169, 169);
    margin-top: 10px;    
    padding: 5px;
}

.ui-fieldset.boxInput {
    font-size: 18px;
    font-weight: 300!important;
    font-family: 'Heebo', sans-serif;
    color: #2D2DA9;
    border: 1px solid rgb(169, 169, 169); 
    padding: 5px;
}

.ui-fieldset.boxInput .ui-fieldset-legend {
    font-size: 14px;
    font-weight: 400!important;
    font-family: 'Dosis', sans-serif;
    color: grey;
}
