/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/11/2016, 02:26:56 PM
    Author     : syslife02
*/

.iconNew {
    display: inline-block;
    position: absolute;
    margin-top: 19px;
    margin-left: 20px;
}

.codeWidth {
    width: 600px;
}

.titleWidth {
    width: 800px;
}
