/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/11/2016, 11:23:06 AM
    Author     : Edgar Mosquera
*/

@import url('https://fonts.googleapis.com/css?family=Heebo:100, 300, 400');

body {
    background-image: url(#{resource["images:login_background.jpg"]});
    background-position: top right;
    margin: 0;
}

.panelTable {
    width: 80%;
    margin: auto;
    border: 0;
}

.ui-panelgrid .ui-panelgrid-cell {
    border: 0!important;
}

.divDarked {
    width: 400px;
    height: 500px;
    text-align: center;
    padding-top: 50px;
    background-color: rgba(0,0,0,0.5);
    margin-top: 200px;
    margin-left: 100px;    
    
}

.divRegister {
    width: 600px;
    height: auto;
    text-align: center;
    padding: 30px 0 20px 0;
    background-color: rgba(0,0,0,0.8);
    margin: auto;
    margin-top: 3%;
}

.titleLogin {
    font-family: 'Heebo', sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 300;  
    display: inline-block;
    margin-bottom: 20px;
}

.blankSpace {
    height: 20px;
}

input, select {
    background: transparent;
    font-size: 20px;
    color: #ffffff;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 0px;
    padding: 10px 0 10px 40px!important;
    font-family: 'Heebo', sans-serif;
    font-weight: 400!important;  
    width: 86%;
}

select:focus {
    outline: none;
}

option {
    outline: none;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(0,0,0,0.8);
}

.selectGender {
    width: 93%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(#{resource["images:gender.png"]}), url(#{resource["images:down_arrow16.png"]});
    background-repeat: no-repeat;
    background-position:center left, center right;
    background-position-x: 9px, 520px;
}

button, .ui-button {
    border: 0;
    background-color: #58A0E0;
    width: 100%;
    font-size: 19px;
    color: #ffffff;
    margin: 0!important;
    font-family: 'Heebo', sans-serif;
}

input:-webkit-autofill{
    -webkit-text-fill-color: #ffffff!important;    
/*    Truco para evitar que el autocompletado de Chrome coloque los text input en amarillo. 
    El truco consiste en hacer delay del cambio de color en un par de horas.*/
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

.ui-state-error {
    border-color: #D87070;
}

.ui-message-error {
    color: #EAAAA9!important;
    border: 0!important;
    background-color: transparent!important;
    font-family: 'Heebo', sans-serif!important;
}

.ui-message-error-icon {
    display: none!important;
}

.ui-messages-error {
    color: #EAAAA9!important;
    border: 0!important;
    background-color: transparent!important;
    font-family: 'Heebo', sans-serif!important;
}

.ui-messages-error-icon {
    display: none!important;
}

.registerLink {    
    background-color: #67AF8B;
    width: 100%;
    font-size: 19px;
    color: #ffffff;
    margin: 0!important;
    font-family: 'Heebo', sans-serif;
    text-decoration: none;
    display: inline-block;
    padding: 5px 0;
}

.forgotLink {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
}


.emailIcon {
    background-image: url(#{resource["images:email.png"]});
    background-repeat: no-repeat;
    background-position-x: 9px;
    background-position-y: 17px;
}

.passwordIcon {
    background-image: url(#{resource["images:password.png"]});
    background-repeat: no-repeat;
    background-position-x: 11px;
    background-position-y: 14px;
}

.fistNameIcon {
    background-image: url(#{resource["images:first_name.png"]});
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: 9px;
}

.lastNameIcon {
    background-image: url(#{resource["images:last_name.png"]});
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 9px;    
}

.avatar {
    display: inline-block;
}

.avatar img {
    height: 100%;
}

.ui-fileupload.avatarContent {
    width: 95%;
    margin: auto;
}

.registerWidth {
    width: 93%;
}

.divRegister td {
    padding-bottom: 3px;
}

.jcrop-holder{
    margin: auto;
}

.ui-password-panel {
    margin: auto;
}

.ui-password-panel .ui-password-info {
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    color: #ffffff;
}